html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #749cdb;
}
.content1 img{
  height: 100px;
}
.content1{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 60px;
  margin: 30px;
  color: #ffffff;
}
.pastel img{
  height: 400px;
}
.pastel{
  display: flex;
  justify-content: center;
  
}
.conten2{
  display: flex;
  justify-content: center;
  align-items: center;
  
}